# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
functions-framework==3.*
requests-oauthlib
arduino-iot-client

google-cloud-bigquery>=3.8.0
